@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.App{
	background-color: #1a1a1af6;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23141414' fill-opacity='0.39' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.bg-background{
	background-color: #292929;
}

.border-animated{
	background-image: 
	  	linear-gradient(rgb(255, 191, 16),rgb(255, 191, 16)) ;
	background-position:0 100%;
	background-size:0% 4px;
	background-repeat:no-repeat;
	transition: 0.4s linear
}
.border-animated:before {
	content:"";
	position:absolute;
	z-index:-1;
	top:0;
	right:0;
	left:0;
	bottom:0;
	border-bottom:4px solid #d8d8d8;
  }
.border-animated:hover{
	background-position:0 100%;
	background-size:80% 4px;
}

.swiper-pagination-bullet {
	padding: 2px;
	width: 10px;
	height: 10px;
	text-align: center;
	font-size: 12px;
	color: #000;
	opacity: 1;
	background: rgba(255, 255, 255);
	margin: 30px 0 !important;
  }
  
.swiper-pagination-bullet-active {
	color: #fff;
	background: rgb(235, 175, 25);
}
  
.bg-profile-img{
	background-image: url('/src/assets/profile-image.jpg');
	background-repeat: no-repeat;
	background-size: 500px 500px;
	background-position: right;
	background-attachment: fixed;
}

.text-menu-color{
	color: #7a7a7a
}
.text-gray-title{
	color: #616161
}